extends ./_template/_layout

block vars
  -
    head.title = ''
    head.slug = 'index'
    head.keywords = 'Oshinco,おしんこ,女はミルク,ワカメボーイズ,ワカメ,アッキー,エックン'
    head.description = 'おしんこ、女はミルク、ワカメボーイズ、我らは永遠いつもありがとうこれからもよろしく'
  - var isIndex = true

block append head
  script(src="https://www.googletagmanager.com/gtag/js?id=UA-57420-13", async)
  script
    | window.dataLayer = window.dataLayer || [];
    | function gtag(){dataLayer.push(arguments);}
    | gtag('js', new Date());
    | gtag('config', 'UA-57420-13');

block append style
  //-
    link(rel='stylesheet', href=`${ filePath }assets/css/index.css`)

block includes
  //-
    include ./_template/parts/article/datas/_index
    include ./_template/parts/article/_article

block main

  main
    section.p-section
      .swiper(id='js-swiper-wakame')
        .swiper-wrapper
          .swiper-slide.item
            a.item__link(href='https://www.flickr.com/photos/ryotezuka/', target='_blank' rel='noopener noreferrer', class="js-item")
              figure.item__figure
                img(src='/assets/images/blank.png', data-image-src='/assets/images/avatar_wakame_orange.svg', alt='WAKAME', class='item__image')
              h4.item__heading WAKAME
          .swiper-slide.item
            a.item__link(href='https://www.flickr.com/photos/ekkun/', target='_blank' rel='noopener noreferrer', class="js-item")
              figure.item__figure
                img(src='/assets/images/blank.png', data-image-src='/assets/images/avatar_ekkun_default.svg', alt='EKKUN', class='item__image')
              h4.item__heading EKKUN
          .swiper-slide.item
            a.item__link(href='https://www.flickr.com/photos/Ackey-Chan/', target='_blank' rel='noopener noreferrer', class="js-item")
              figure.item__figure
                img(src='/assets/images/blank.png', data-image-src='/assets/images/avatar_ackey_default.svg', alt='ACKEY', class='item__image')
              h4.item__heading ACKEY
          .swiper-slide.item
            a.item__link(href='https://www.flickr.com/photos/ryotezuka/', target='_blank' rel='noopener noreferrer', class="js-item")
              figure.item__figure
                img(src='/assets/images/blank.png', data-image-src='/assets/images/avatar_wakame_orange.svg', alt='WAKAME', class='item__image')
              h4.item__heading WAKAME
          .swiper-slide.item
            a.item__link(href='https://www.flickr.com/photos/ekkun/', target='_blank' rel='noopener noreferrer', class="js-item")
              figure.item__figure
                img(src='/assets/images/blank.png', data-image-src='/assets/images/avatar_ekkun_default.svg', alt='EKKUN', class='item__image')
              h4.item__heading EKKUN
          .swiper-slide.item
            a.item__link(href='https://www.flickr.com/photos/Ackey-Chan/', target='_blank' rel='noopener noreferrer', class="js-item")
              figure.item__figure
                img(src='/assets/images/blank.png', data-image-src='/assets/images/avatar_ackey_default.svg', alt='ACKEY', class='item__image')
              h4.item__heading ACKEY

    section.p-section
      .swiper(id='js-swiper-ackey')
        .swiper-wrapper
          .swiper-slide.item
            a.item__link(href='https://www.flickr.com/photos/Ackey-Chan/', target='_blank' rel='noopener noreferrer', class="js-item")
              figure.item__figure
                img(src='/assets/images/blank.png', data-image-src='/assets/images/avatar_ackey_orange.svg', alt='ACKEY', class='item__image')
              h4.item__heading ACKEY
          .swiper-slide.item
            a.item__link(href='https://www.flickr.com/photos/ryotezuka/', target='_blank' rel='noopener noreferrer', class="js-item")
              figure.item__figure
                img(src='/assets/images/blank.png', data-image-src='/assets/images/avatar_wakame_default.svg', alt='WAKAME', class='item__image')
              h4.item__heading WAKAME
          .swiper-slide.item
            a.item__link(href='https://www.flickr.com/photos/ekkun/', target='_blank' rel='noopener noreferrer', class="js-item")
              figure.item__figure
                img(src='/assets/images/blank.png', data-image-src='/assets/images/avatar_ekkun_default.svg', alt='EKKUN', class='item__image')
              h4.item__heading EKKUN
          .swiper-slide.item
            a.item__link(href='https://www.flickr.com/photos/Ackey-Chan/', target='_blank' rel='noopener noreferrer', class="js-item")
              figure.item__figure
                img(src='/assets/images/blank.png', data-image-src='/assets/images/avatar_ackey_orange.svg', alt='ACKEY', class='item__image')
              h4.item__heading ACKEY
          .swiper-slide.item
            a.item__link(href='https://www.flickr.com/photos/ryotezuka/', target='_blank' rel='noopener noreferrer', class="js-item")
              figure.item__figure
                img(src='/assets/images/blank.png', data-image-src='/assets/images/avatar_wakame_default.svg', alt='WAKAME', class='item__image')
              h4.item__heading WAKAME
          .swiper-slide.item
            a.item__link(href='https://www.flickr.com/photos/ekkun/', target='_blank' rel='noopener noreferrer', class="js-item")
              figure.item__figure
                img(src='/assets/images/blank.png', data-image-src='/assets/images/avatar_ekkun_default.svg', alt='EKKUN', class='item__image')
              h4.item__heading EKKUN

    section.p-section
      .swiper(id='js-swiper-ekkun')
        .swiper-wrapper
          .swiper-slide.item
            a.item__link(href='https://www.flickr.com/photos/ekkun/', target='_blank' rel='noopener noreferrer', class="js-item")
              figure.item__figure
                img(src='/assets/images/blank.png', data-image-src='/assets/images/avatar_ekkun_orange.svg', alt='EKKUN', class='item__image')
              h4.item__heading EKKUN
          .swiper-slide.item
            a.item__link(href='https://www.flickr.com/photos/Ackey-Chan/', target='_blank' rel='noopener noreferrer', class="js-item")
              figure.item__figure
                img(src='/assets/images/blank.png', data-image-src='/assets/images/avatar_ackey_default.svg', alt='ACKEY', class='item__image')
              h4.item__heading ACKEY
          .swiper-slide.item
            a.item__link(href='https://www.flickr.com/photos/ryotezuka/', target='_blank' rel='noopener noreferrer', class="js-item")
              figure.item__figure
                img(src='/assets/images/blank.png', data-image-src='/assets/images/avatar_wakame_default.svg', alt='WAKAME', class='item__image')
              h4.item__heading WAKAME
          .swiper-slide.item
            a.item__link(href='https://www.flickr.com/photos/ekkun/', target='_blank' rel='noopener noreferrer', class="js-item")
              figure.item__figure
                img(src='/assets/images/blank.png', data-image-src='/assets/images/avatar_ekkun_orange.svg', alt='EKKUN', class='item__image')
              h4.item__heading EKKUN
          .swiper-slide.item
            a.item__link(href='https://www.flickr.com/photos/Ackey-Chan/', target='_blank' rel='noopener noreferrer', class="js-item")
              figure.item__figure
                img(src='/assets/images/blank.png', data-image-src='/assets/images/avatar_ackey_default.svg', alt='ACKEY', class='item__image')
              h4.item__heading ACKEY
          .swiper-slide.item
            a.item__link(href='https://www.flickr.com/photos/ryotezuka/', target='_blank' rel='noopener noreferrer', class="js-item")
              figure.item__figure
                img(src='/assets/images/blank.png', data-image-src='/assets/images/avatar_wakame_default.svg', alt='WAKAME', class='item__image')
              h4.item__heading WAKAME

block append scripts
  //- script(src=`${ filePath }assets/js/main.min.js`)
