extends ./_template/_layout

block vars
  -
    head.title = ''
    head.slug = 'index'
    head.keywords = 'index, INDEX'
    head.description = 'インデックスなんです...'
  - var isIndex = true

block append head
  //-
    script(src="", async)
    script(src="https://www.googletagmanager.com/gtag/js?id=", async)
    script
      | window.dataLayer = window.dataLayer || [];
      | function gtag(){dataLayer.push(arguments);}
      | gtag('js', new Date());
      | gtag('config', '');

block append style
  //-
    link(rel='stylesheet', href=`${ filePath }assets/css/index.css`)

block includes
  include ./_template/parts/article/datas/_index
  include ./_template/parts/article/_article

block main

  main
    section.p-section
      .swiper(id='js-swiper-wakame')
        .swiper-wrapper
          .swiper-slide.item
            a.item__link(href='https://www.flickr.com/photos/ryotezuka/', target='_blank' rel='noopener noreferrer', class="js-item")
              figure.item__figure
                img(src='/assets/images/blank.png', data-image-src='/assets/images/avatar_wakame_orange.svg', data-image-src-hover='/assets/images/avatar_wakame_orange_animation.svg', alt='WAKAME', class='item__image')
              h4.item__heading WAKAME
          .swiper-slide.item
            a.item__link(href='https://www.flickr.com/photos/ekkun/', target='_blank' rel='noopener noreferrer', class="js-item")
              figure.item__figure
                img(src='/assets/images/blank.png', data-image-src='/assets/images/avatar_ekkun_default.svg', data-image-src-hover='/assets/images/avatar_ekkun_default_animation.svg', alt='EKKUN', class='item__image')
              h4.item__heading EKKUN
          .swiper-slide.item
            a.item__link(href='https://www.flickr.com/photos/Ackey-Chan/', target='_blank' rel='noopener noreferrer', class="js-item")
              figure.item__figure
                img(src='/assets/images/blank.png', data-image-src='/assets/images/avatar_ackey_default.svg', data-image-src-hover='/assets/images/avatar_ackey_default_animation.svg', alt='ACKEY', class='item__image')
              h4.item__heading ACKEY
          .swiper-slide.item
            a.item__link(href='https://www.flickr.com/photos/ryotezuka/', target='_blank' rel='noopener noreferrer', class="js-item")
              figure.item__figure
                img(src='/assets/images/blank.png', data-image-src='/assets/images/avatar_wakame_orange.svg', data-image-src-hover='/assets/images/avatar_wakame_orange_animation.svg', alt='WAKAME', class='item__image')
              h4.item__heading WAKAME
          .swiper-slide.item
            a.item__link(href='https://www.flickr.com/photos/ekkun/', target='_blank' rel='noopener noreferrer', class="js-item")
              figure.item__figure
                img(src='/assets/images/blank.png', data-image-src='/assets/images/avatar_ekkun_default.svg', data-image-src-hover='/assets/images/avatar_ekkun_default_animation.svg', alt='EKKUN', class='item__image')
              h4.item__heading EKKUN
          .swiper-slide.item
            a.item__link(href='https://www.flickr.com/photos/Ackey-Chan/', target='_blank' rel='noopener noreferrer', class="js-item")
              figure.item__figure
                img(src='/assets/images/blank.png', data-image-src='/assets/images/avatar_ackey_default.svg', data-image-src-hover='/assets/images/avatar_ackey_default_animation.svg', alt='ACKEY', class='item__image')
              h4.item__heading ACKEY

    section.p-section
      .swiper(id='js-swiper-ackey')
        .swiper-wrapper
          .swiper-slide.item
            a.item__link(href='https://www.flickr.com/photos/Ackey-Chan/', target='_blank' rel='noopener noreferrer', class="js-item")
              figure.item__figure
                img(src='/assets/images/blank.png', data-image-src='/assets/images/avatar_ackey_orange.svg', data-image-src-hover='/assets/images/avatar_ackey_orange_animation.svg', alt='ACKEY', class='item__image')
              h4.item__heading ACKEY
          .swiper-slide.item
            a.item__link(href='https://www.flickr.com/photos/ryotezuka/', target='_blank' rel='noopener noreferrer', class="js-item")
              figure.item__figure
                img(src='/assets/images/blank.png', data-image-src='/assets/images/avatar_wakame_default.svg', data-image-src-hover='/assets/images/avatar_wakame_default_animation.svg', alt='WAKAME', class='item__image')
              h4.item__heading WAKAME
          .swiper-slide.item
            a.item__link(href='https://www.flickr.com/photos/ekkun/', target='_blank' rel='noopener noreferrer', class="js-item")
              figure.item__figure
                img(src='/assets/images/blank.png', data-image-src='/assets/images/avatar_ekkun_default.svg', data-image-src-hover='/assets/images/avatar_ekkun_default_animation.svg', alt='EKKUN', class='item__image')
              h4.item__heading EKKUN
          .swiper-slide.item
            a.item__link(href='https://www.flickr.com/photos/Ackey-Chan/', target='_blank' rel='noopener noreferrer', class="js-item")
              figure.item__figure
                img(src='/assets/images/blank.png', data-image-src='/assets/images/avatar_ackey_orange.svg', data-image-src-hover='/assets/images/avatar_ackey_orange_animation.svg', alt='ACKEY', class='item__image')
              h4.item__heading ACKEY
          .swiper-slide.item
            a.item__link(href='https://www.flickr.com/photos/ryotezuka/', target='_blank' rel='noopener noreferrer', class="js-item")
              figure.item__figure
                img(src='/assets/images/blank.png', data-image-src='/assets/images/avatar_wakame_default.svg', data-image-src-hover='/assets/images/avatar_wakame_default_animation.svg', alt='WAKAME', class='item__image')
              h4.item__heading WAKAME
          .swiper-slide.item
            a.item__link(href='https://www.flickr.com/photos/ekkun/', target='_blank' rel='noopener noreferrer', class="js-item")
              figure.item__figure
                img(src='/assets/images/blank.png', data-image-src='/assets/images/avatar_ekkun_default.svg', data-image-src-hover='/assets/images/avatar_ekkun_default_animation.svg', alt='EKKUN', class='item__image')
              h4.item__heading EKKUN

    section.p-section
      .swiper(id='js-swiper-ekkun')
        .swiper-wrapper
          .swiper-slide.item
            a.item__link(href='https://www.flickr.com/photos/ekkun/', target='_blank' rel='noopener noreferrer', class="js-item")
              figure.item__figure
                img(src='/assets/images/blank.png', data-image-src='/assets/images/avatar_ekkun_orange.svg', data-image-src-hover='/assets/images/avatar_ekkun_orange_animation.svg', alt='EKKUN', class='item__image')
              h4.item__heading EKKUN
          .swiper-slide.item
            a.item__link(href='https://www.flickr.com/photos/Ackey-Chan/', target='_blank' rel='noopener noreferrer', class="js-item")
              figure.item__figure
                img(src='/assets/images/blank.png', data-image-src='/assets/images/avatar_ackey_default.svg', data-image-src-hover='/assets/images/avatar_ackey_default_animation.svg', alt='ACKEY', class='item__image')
              h4.item__heading ACKEY
          .swiper-slide.item
            a.item__link(href='https://www.flickr.com/photos/ryotezuka/', target='_blank' rel='noopener noreferrer', class="js-item")
              figure.item__figure
                img(src='/assets/images/blank.png', data-image-src='/assets/images/avatar_wakame_default.svg', data-image-src-hover='/assets/images/avatar_wakame_default_animation.svg', alt='WAKAME', class='item__image')
              h4.item__heading WAKAME
          .swiper-slide.item
            a.item__link(href='https://www.flickr.com/photos/ekkun/', target='_blank' rel='noopener noreferrer', class="js-item")
              figure.item__figure
                img(src='/assets/images/blank.png', data-image-src='/assets/images/avatar_ekkun_orange.svg', data-image-src-hover='/assets/images/avatar_ekkun_orange_animation.svg', alt='EKKUN', class='item__image')
              h4.item__heading EKKUN
          .swiper-slide.item
            a.item__link(href='https://www.flickr.com/photos/Ackey-Chan/', target='_blank' rel='noopener noreferrer', class="js-item")
              figure.item__figure
                img(src='/assets/images/blank.png', data-image-src='/assets/images/avatar_ackey_default.svg', data-image-src-hover='/assets/images/avatar_ackey_default_animation.svg', alt='ACKEY', class='item__image')
              h4.item__heading ACKEY
          .swiper-slide.item
            a.item__link(href='https://www.flickr.com/photos/ryotezuka/', target='_blank' rel='noopener noreferrer', class="js-item")
              figure.item__figure
                img(src='/assets/images/blank.png', data-image-src='/assets/images/avatar_wakame_default.svg', data-image-src-hover='/assets/images/avatar_wakame_default_animation.svg', alt='WAKAME', class='item__image')
              h4.item__heading WAKAME

      //-
        <!-- Swiper -->
        <div class="swiper mySwiper" style="position: relative; overflow: hidden;">
          <div class="swiper-wrapper" style="position: relative;">
            <div class="swiper-slide">Slide 1</div>
            <div class="swiper-slide">Slide 2</div>
            <div class="swiper-slide">Slide 3</div>
            <div class="swiper-slide">Slide 4</div>
            <div class="swiper-slide">Slide 5</div>
            <div class="swiper-slide">Slide 6</div>
            <div class="swiper-slide">Slide 7</div>
            <div class="swiper-slide">Slide 8</div>
            <div class="swiper-slide">Slide 9</div>
          </div>

      </div>

  //- アーティクル
    article
      section.section
        .section__inner
          +article({})

block append scripts
  //- script(src=`${ filePath }assets/js/main.min.js`)
