block vars

header(class="l-header")
  .l-header__inner
    h1.l-header__logo
      a(href='/')
        img(src='/assets/images/oshinco_logo.svg', alt='Oshinco™ Official || おしんこ™ オフィシャル', width='100%', height='100%')
